/* ========== General elements ========== */

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #CCC;
  overflow-x: clip;
}

a {
  text-decoration: none;
  color: #9e70c7;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  color: #CCC;
}

img {
  max-width: 100%;
}

.content,
.main-body,
.ant-layout {
  background-color: #1F1F1F;
}

/* ========== Header ========== */

.ant-layout-header {
  background-color: #1F1F1F;
  color: #CCC;
  z-index: 100;
}

.ant-layout-header .ant-menu {
  float: right;
  background-color: #1F1F1F;
  border: 0;
  width: 300px;
}

.ant-layout-header .ant-menu li a {
  color: #9e70c7 !important;
}

.ant-layout-header .ant-menu li:hover a {
  color: #cf9ff8 !important;
}

.ant-layout-header .ant-menu li:active,
.ant-layout-header .ant-menu li:focus-visible {
  background-color: #1F1F1F;
  box-shadow: none;
}

.ant-layout-header .ant-menu li:hover::after {
  border-bottom: 2px solid #9e70c7 !important;
}

.ant-layout-header .logo {
  float: left;
}

.ant-layout-header li.ant-menu-item-selected a {
  color: #cf9ff8 !important;
  font-weight: bold;
}

.ant-layout-header li.ant-menu-item-selected::after {
  border-bottom: 2px solid #cf9ff8 !important;
}

.logo img {
  height: 50px;
}

/* ========== Content ========== */

/* App logo */

.app-logo {
  padding: 200px 0 550px 0;
  background:
    url('./img/background1.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #333;
  background-position-x: center;
  background-position-y: 0px;
  background-size: cover;
  position: relative;
  top: -64px;
  /* opacity: 0.7; */
}

.app-logo .intro-text {
  font-size: 16px;
  text-shadow: 10px 10px 2px #222;
  color: #CCC;
  padding: 10px 0 0 0;
  display: block;
}

.app-logo .header1 {
  color: #b62025;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-shadow: 10px 10px 2px #222;
}

.app-logo .header2 {
  text-shadow: 10px 10px 2px #222;
  color: #CCC;
}

.app-logo img {
  filter: drop-shadow(10px 10px 2px #222);
}

/* App logo - end */

/* Initial Description */

.initial-description {
  margin-bottom: 50px;
}

.initial-description h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.initial-description h3 .platform-name {
  color: #9e70c7;
}

.initial-description .ant-card {
  background-color: #333;
  color: #CCC;
  border: none;
  padding-top: 40px;
  height: 100%;
  box-shadow: #111 5px 5px 20px;
}

.initial-description .ant-card svg {
  font-size: 100px;
  color: #9e70c7;
}

.initial-description .ant-card .ant-card-meta-description {
  color: #CCC !important;
  text-align: center;
  width: 100%;
}

.initial-description .ant-card .ant-card-meta-detail {
  width: 100%;
}

/* Initial Description - end*/

/* Platform description item */

.platform-description-item-row {
  margin-bottom: 100px;
}

.platform-description-item-row ul
{
  margin: 30px;
}

.platform-description-item-row .ant-image {
  box-shadow: #111 5px 5px 20px;
  margin: 30px;
}

/* Platform description item - end */



/* ========== Footer ========== */

footer {
  min-height: 200px;
  background-color: #111 !important;
  flex: 0 1 200px;
}